player-connection-mode=Listen
player-connection-guid=3617396357
player-connection-debug=0
player-connection-project-name=GGJ
player-connection-ip=26.236.6.230
player-connection-ip=192.168.163.95
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
profiler-enable-deep-profiling-support=1
build-guid=68d7d23a739c4dd2b74a4f0c8b915a4a
